/* table {
    border: 1px solid black;
    margin: auto;
}

input[type="button"] {
    width: 100%;
    padding: 20px 40px;
    background-color: aquamarine;
    font-size: 24px;
    font-weight: bold;
    border-radius: 5px;
}

input[type="text"] {
    padding: 20px 30px;
    font-size: 24px;
    font-weight: bold;
    border-radius: 5px;
    border: 2px solid black;
}

input:hover {
    cursor: pointer;
    background-color: white;
    transition: 1s;
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cadetblue;
}

.container {
    position: relative;
    max-width: 300px;
    width: 100%;
    border-radius: 12px;
    padding: 10px 20px 20px;
    box-shadow: 0 5px 10px;
    background-color: teal;
}

.display {
    height: 80px;
    width: 100%;
    outline: none;
    text-align: right;
    margin-bottom: 10px;
    font-size: 25px;
    background-color: aqua;
}

.buttons {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
}

.buttons button {
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
    background-color: aqua;
}

.buttons button:hover {
    background-color: white;
    transition: 0.5s;
}

.operator {
    color: blue;
}